
body{
	font-family: ProximaNova,"Helvetica Neue",Helvetica,sans-serif;
	background-color: #fafafa;
	
}


.header
{
	padding-top:10px;
	background-color:#fff;
    border-bottom: 1px solid #e2e2e2;
    box-shadow: 5px 0px 10px #e5e5e5;
top: 0px;
left: 0px;
width: 100%;
height: 65px;
z-index:1500 !important;
background:#fff;






}
.h_ar1
{
	width:3%;
	float:left;
	margin-left:-5px;
}
.h_ar2
{
	padding-top:5px;
	padding-left:170px;
	width:94%;
	float:left;
}
.h_ar3
{
	width:3%;
	float:left;
}
.clearfix
{
	clear:both;
}




.sr1
{
	width:310px;
	height:34px;
	border:1px solid #CCC;
	border-radius:4px;
	
	
	
}

input[type="text"] {
    width: 350px;
	font-size:16px;
	



}


::-webkit-input-placeholder {
   font-size:16px;
   position:relative;
   left:10px;
   font-family:"Source Sans Pro",sans-serif;
   
}

	
	
	


input:focus{
	
	outline:none;
	border:1px solid #09F;
	
	
}
.sr2
{
	margin-left:12px;
	width:310px;
	height:34px;
	border:1px solid #CCC;
		border-radius:4px;
	
}
.h_ar2 .bt1
{
	height:34px;
	width:40px;
	box-shadow:none;
	border-color:#00bfe7;
	background-color:#00bfe7;
	margin-top:-35px;
	margin-left:735px;
	opacity:0.7;
}

.h_ar2 .bt1:hover{
	
	background-color:#00bfe7;
		opacity:1;
	
}
.fa-search{
color:#fff;
font-size:16px;	
	
}

.hm1
{
	background-color:#666;
	width:19px;
	height:3px;
	margin-top:3px;
}
.h_ar3
{
	padding-top:15px;
}
.hmlnk:hover .hm1
{
	background-color:#00bfe7;
}








.menu_fx
{
	position: fixed;
	width: 100%;
	z-index: 2500;
}
.bgimg
{
	width:100%;
	height:100px;
	z-index:-1;
	position:absolute;
	top:65px;
	left:0px;
}
.lft
{
	width:28%;
	float:left;
	background-color:transparent;
}
.mid
{
	width:50%;
	float:left;
	background-color:transparent;
	height: 2500px;
}
.cntCntr
{
	position:absolute;
	left:95px;
	top:70px;

	
}
.lft_cntr
{
	border:1px solid #e2e2e2;
	
	border-radius:2px;
	background-color:#fff;
}
.lft_cn1
{
	padding-top:10px;
	padding-left:20px;
	padding-bottom:13px;
	background-color:#fafafa;
	font-size:21px;
	color:#666;
}
.lft_cn2
{
	width:100%;
	height:6px;
	background-color:#E7E7E7;
}
.lft_cn0
{
	font-size:15px;
	color:#fff;
	margin-bottom:7px;
}
.lft_lnk0:link
{
	color:#fff;
}
.lft_lnk0:hover
{
	color:#fff;
}
.lft_lnk0:visited
{
	color:#fff;
}
.mid_cn0
{
	font-size:40px;
	padding-top:25px;
	padding-left:20px;
	color:#fff;
}
.mid_cn1
{
	margin:20px;
	margin-top:30px;
	font-size:15px;
}

#image{

	position:relative;
	top:12px;
	left: 5px;
	height: 100px;
}
.knowledge{
	text-align: center;
	font-size: .8571em;
    color: #666;
    text-transform: uppercase;
    background: #F6F6F6;
    position: relative;
    left: -5px;

}

.mid_cn2
{
	width:93%;
	height:6px;
	background-color:#E7E7E7;
	margin:20px;
}
.bmkicn
{
	color:#00bfe7;
}
.mid_cn3_0
{
	width:15%;
	float:left;
}
.mid_cn3_1
{
	width:85%;
	float:left;
	margin-bottom: 40px;
}
.mid_cn3_1_0
{
	position:relative;
}
.mid_cn3
{	
	margin-top: 60px;
	margin-left:20px;
	margin-bottom: -30px;
	width: 100%;
	height:230px;
	background: #fafafa;

}
.mid_cn3_ln1
{
	font-size:20px;
}
.mid_cn3_ln1:link
{
	color:#00bfe7;
}
.mid_cn3_ln1:hover
{
	color:#00bfe7;
}
.mid_cn3_ln1:visited
{
	color:#00bfe7;
}
.mid_cn3_btn1
{
	position:absolute;
	top:0px;
	right:20px;
}
.mid_cn3_1_1
{
	border-top:thin dotted #7B7B7B;
	border-bottom:thin dotted #7B7B7B;
	margin-top:7px;
	padding-top:3px;
	padding-bottom:3px;
	margin-right:25px;
	font-size:13px;
}
.mid_cn3_1_2
{
	font-size:15px;
	margin-top:10px;
	color:#777;
}
.mid_cn3_ln2:link
{
	color:#00bfe7;
}
.mid_cn3_ln2:hover
{
	color:#00bfe7;
}
.mid_cn3_ln2:visited
{
	color:#00bfe7;
}
.inftxt
{
	color:#B5B5B5;
	font-size:11px;
}
.mid_cn3_sp2
{
	margin-left:20px;
}
.mid_cn3_1_5
{
	font-size:13px;
	margin-top:5px;
}



.ul_div{

	overflow: visible;
    height: auto;
        position: relative;
        display: block;
}

.left_menu{

	list-style: none;
    margin: 1em 0;
    padding: 0;
    display: block;
}
.left_menu li{

	line-height: 1;
	    display: list-item;
    text-align: -webkit-match-parent;
    font-size: 16px;
}
.left_menu a{


	display: block;
    clear: both;
    padding: .75em;
	word-wrap: break-word;
    color: #00bfe7;
   	text-decoration: none;
    cursor: auto;
    opacity: 0.7;
}

.left_menu a:hover{

	opacity: 1;
}
.left_menu .count{

	font-size: .875em;
    line-height: 1.1428;
        float: right;
    color: #999;
}
.left_menu .count:hover{
	color:#111;
}

#pagination{

	display: inline-block;
    margin-left: 0;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
        margin-bottom: 0;
        padding: 0;
    margin: 0 0 12.5px 25px;
}
#pagination>li{

	display: inline;
	line-height: 1.6;
	text-align: -webkit-match-parent;
}


#pagination>li:first-child>a{

	border-left-width: 1;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}


#pagination li a{

	    
    float: left;
    padding: 4px 12px;
    line-height: 1.6;
    text-decoration: none;
        border: 1px solid #ddd;
            color: #00bfe7;
                cursor: auto;
                background: #fff;
        border-right-width:0;
}

#pagination>li:last-child>a{

	border-right-width:1px;
	border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}


#pagination >.disabled a{

background: #efefef;;
color: #999;
pointer-events: none;

}


.containerdiv{
	position:relative;
	width:85%;
	height:130px;
	background-color:#fafafa;
	top:2400px;
	margin:0 10%;
	

	
	
	}


.one
{
	background-color:#e2e2e2;
	height:2px;
	width:100%;
	margin:0 -2%;

}
.two_ul
{
	margin-left:-10px;
	
	

}
.two_ul > li
{
	display:inline-block;
	margin-left:25px;
	margin-top:20px;
	font-size:14px;
}
.three_ul > li
{
	display:inline-block;
	margin-left:25px;
	margin-top:10px;
	font-size:14px;
}
.three_ul
{
	margin-left:280px;
}
.two_ul > li > a:link
{
	color:#B6B6B6;
}
.two_ul > li > a:hover
{
	color:#B6B6B6;
}
.two_ul > li > a:visited
{
	color:#B6B6B6;
}
.three_ul > li > a:link
{
	color:#B6B6B6;
}
.three_ul > li > a:hover
{
	color:#B6B6B6;
}
.three_ul > li > a:visited
{
	color:#B6B6B6;
}
.dec
{
	color:#b6b6b6;
	font-size:13px;
	margin-left:460px;
}

@media only screen and (max-width: 1350px) {
	


.one
{
	margin:0 -3%;

}


.three_ul
{
	margin-left:300px;
}


.two_ul
{
	margin-left:0px;
	
	

}


.dec
{
	color:#b6b6b6;
	font-size:13px;
	margin-left:430px;
}


	




}
